@import "common_style";

.top_area {
  width: 100%;
  height: 680px;
  .top_image {
    width: 100%;
    height: 600px;
  }
}

.container { 
  display: flex;
  height: 100%;
  .main_area {
    display: block;
    width: 1110px;
    margin-bottom: 30px;
    .content_area {
      .content_info {
        margin-bottom: 10px;
        display: flex;
        .thumbnail_area {
          margin: 0 20px 0 0;
        }
      }
      .pagination {
        display: flex;
        justify-content: center;
      }
      .pagination > li > a {
        border: none;
        color: #999;
        font-size: 23px;
        margin: 15px;
      }
      .pagination > li > a:hover {
        color: $pagination-color;
        background-color: white;
      }
      .pagination > .active > a {
        color: $pagination-color;
        background-color: white;
      }
      .pagination > .active > a:hover {
        background-color: white;
        color: $pagination-color;
      }
    }
  }

  .sidebar_area {
    width: 320px;
    margin-left: 50px;
    .btn_area {
      margin: 10px 0;
      display: flex;
      .btn {
        @include btn-style;
      }

      .btn:hover {
        background: $hover-color;
      }
    }
  }
}