<article>
  <section class="top_area">
    <%= image_tag '/title.jpg', size: '1680x600', class: "top_image" %>
  </section>
  <div class="container">
    <section class="main_area">
      <% if @posts.present? %>
        <%=render "layouts/posts", posts: @posts %>
      <% else %>
        <p>まだ投稿されていません。</p>
      <% end %>
    </section>
    <section class="sidebar_area">
      <div class="btn_area">
        <%= link_to "投稿", new_post_path, class: "btn" %>
      </div>
    </section>
  </div>
</article>
