header{
  position: sticky;
  background-color: #eff7e1;
  position: -webkit-sticky;
  top: 0;
  .header_area {
    border-bottom: 1px solid #666666;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 10px -2px grey;
    .left_area {
      font-size: 30px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
    }

    .right_area {
      text-align: right;
      font-size: 20px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 20px;
    }
  }
}

.footer_area {
  box-shadow: 1px 1px 10px -2px grey;
  border-top: 1px solid #666666;
  background-color: #eff7e1;
  .center {
    text-align: center;
  }
}

input[type='text']{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type='email']{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='password']{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}