@import "common_style";

.container { 
  .main_area {
    .center_content {
      text-align: center;
      margin: 50px auto;
      height: 812px;
      .btn {
        @include btn-style;
      }
      .btn:hover {
        background: $hover-color;
      }
    }
  }
}