.container { 
  .main_area {
    .center_content {
      text-align: center;
      margin: 50px auto;
      height: 812px;
      .btn_area{
        .btn {
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          padding:10px 15px;
          text-decoration: none;
          border-radius: 20px;
          background-color: #00b4eb;
        }
    
        .btn:hover {
          background: #009ece;
          color: #FFF;
        }
      }
    }
  }
}