.container { 
  .main_area {
    .input_area {
      .inner_area {
        height: 680px;
        #user_name-error,#user_blog_name-error,#user_email-error,#user_password-error,#user_password_confirmation-error {
          color: #ea352d;
          line-height: 1.5;
          font-size: 20px;
          margin-top: 8px;
        }
        .btn {
          color: #fff;
          font-size: 20px;
          font-weight: bold;
          padding:10px 15px;
          text-decoration: none;
          border-radius: 20px;
          background-color: #00b4eb;
          margin-top: 10px;
        }
        .btn:hover {
          background: #009ece;
          color: #FFF;
        }
      }
    }
  }
}