.container {
  .main_area {
    .comment_area{
      .btn_area {
        margin-right: auto;
        display: flex;
        
        .overlay {
          width: 100%;
          height: 100%;
          position: fixed;
          top: 0;
          left: 0;
          background: rgba(0, 0, 0, 0.3);
          display: none;
          z-index: 1
        }
        
        .modalWindow {
          width: 600px;
          height: 500px;
          position: fixed;
          top: 80px;
          border: 2px solid #cacaca;
          background-color: #FFF;
          display: none;
          border-radius: 20px;
          z-index: 2;
        }
        
        button {
          @include btn-style;
          border: none;
        }
        
        button:hover {
          background: $hover-color;
        }
      }
    }
    .input_comment_area {
      .btn {
        @include btn-style;
        margin-bottom: 20px
      }
      .btn:hover {
        background: $hover-color;
      }
      #comment_name-error, #comment_comment-error {
        @include error-style;
      }
    }
  }
}


